<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site.name }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content-"width=device-width, initial-scale=1.0">
    <meta
      name="description"
      content="{% if description -%}
    {{ description }}
    {%- else -%}
      {{ site.description }}
    {%- endif %}"
    />
    <link rel="stylesheet" href={{ "/styles/reset.css" | url }} />
    {# google fontsのダウンロード #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">

    {# style sheetの読み込み #}
    <link rel="stylesheet" href={{ "/styles/style.css" | url }} />

    <script src="/js/main.js" type="module" defer></script>
  </head>
  <body>
    <header class="header" id="header">
      <a href="#top" class="header__icon">
        <img src="/assets/images/c0de-icon.png" alt="c0de-icon" width="50px" height="50px">
      </a>
      <nav class="header__nav">
        <ul class="header__nav__list" role="list">
          {%- for item in nav.items %}
          <li class="header__nav__list__item" role="listitem">
            <a href="{{ item.url }}" class="header__nav__list__item__link" {% if item.url == page.url %} aria-current="page" data-state="active" {% endif %}>
              {{ item.name }}
            </a>
          </li>
          {%- endfor %}
        </ul>
        <button id="header__nav__menu" class="header__nav__menu" href="#nav">
          <svg width="50" height="50" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 8H27M5 16H27M5 24H27" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </nav>
    </header>
    
    <main class="main">
      <div id="animationPlace">
        <h1>
          名古屋工業大学プログラミング部
        </h1>
      </div>
      <img src="/assets/images/c0de-icon.png" alt="c0de-icon" width="400px" height="400px">
      {{ content | safe }}
    </main>

    <footer class="footer">
      <p>&copy; フッター</p>
    </footer>
  </body>
</html>