@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");

html {
  font-size: 16px;
}

body {
  font-family: "Noto Serif JP", serif;
}

ul[role="list"] {
  padding-left: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
}

.header.open .header__nav::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.626);
}

.header__icon {
  margin-left: 1rem;
}

.header__nav {
  margin-right: 1rem;
}

.header__nav__list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.header__nav__list__item__link {
  display: inline-block;
  width: 100%;
  color: black;
  text-decoration: none;
  line-height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1px;
  border-bottom: 1px solid gray;
}

.header__nav__list__item:first-child {
  border-top: 1px solid gray;
}

.header__nav__list__item__link:hover {
  border-bottom: 1px solid aqua;
}

.header__nav__menu {
  display: none;
  background-color: white;
  border: 0;
}

.header.open .header__nav__list {
  position: absolute;
  left: 0;
  top: 55px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  background-color: rgba(255, 255, 255);
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh 5vw 10vh;
  gap: 10vh;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.25rem;
}

.block p,
.block h1 {
  text-align: center;
}

.block h1 {
  font-weight: normal;
  font-size: 2rem;
}

.block--general {
  width: 100%;
}

.block--general thead {
  display: none;
}

.block--general table {
  border-collapse: collapse;
}

.block--general tr {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.block--general td {
  padding: 0.5rem 1rem;
}

#animationPlace {
  height: 9rem;
  text-align: center;
  white-space: pre-wrap;
  font-weight: normal;
}

#animationPlace h1 {
  font-size: 3rem;
  font-weight: 400;
}

.footer {
  background-color: #002241;
  color: blue;
  text-align: center;
  padding: 1rem 0;
}

@media screen and (max-width: 1024px) {
  .header__nav__menu {
    display: flex;
  }
  .header__nav__list {
    display: none;
  }
}

.blue {
  color: blue;
}
